.menu {
    margin: 0 65px 30px 65px;
}

.img {
    width: 100%;
}

.banner {
    margin: 0 65px 0 65px;
}

.absolute1 {
    position: absolute;
    color: white;
    top: 220px;
    left: 150px;
}

.absolute2 {
    position: absolute;
    color: white;
    top: 265px;
    left: 150px;
}

.text {
    margin-left: 70px;
}

.row {
    margin: 0 39px 0 39px;
}

.row img {
    padding: 16px;
}

.footer.row {
    margin: 0 40px 0 40px;
}

.footer.row p,
h2 {
    padding: 15px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .banner img {width: 100%;}!important

}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    
}