.body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.notification-right {
  float: right;
}

.center {
  text-align: center;
}

.banner img {
  max-width: 100%;
  vertical-align: middle;
}

.row {
  margin: 0 20px 0 20px;
}

.row img {
  width: 100%;
  padding: 15px;
}

.footer img{
  width: 75%;
}
.footer a{
  text-decoration: none;
  color: rgb(17, 17, 17);
}
.body{
  background-color: black;
}
.footer h5{
  padding: 15px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */

}

@media only screen and (min-width: 768px) {
  /* For desktop: */

}